.robot {
    margin-top: 300px;
    margin-left: 300px;
    position: absolute;
}

.bas {
    height: 50px;
    width: 105px;
    background-color: #f2c724;
    margin-left: 2.5px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
}

.govde {
    background-color: turquoise;
    height: 110px;
    width: 110px;
    margin-top: 10px;
    display: flex;
    border-radius: 25px 25px 50px 50px;
    justify-content: center
}

.anten {
    height: 40px;
    width: 5px;
    background-color: #f2c724;
    border-radius: 2.5px 2.5px 0 0;
    margin-left: 52.5px;
}

.maske {
    height: 25px;
    width: 75px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    margin-top: 12.5px;
    border-radius: 25px;
    cursor: pointer;
}

.kedi {
    height: 70px;
    width: 70px;
    background-color: #f2c724;
    margin-top: 15px;
    border-radius: 25px 25px 50px 50px;
    cursor: pointer;
}

.goz {
    height: 16px;
    width: 16px;
    background-color: turquoise;
    border-radius: 8px;
    margin : 4.5px 10px;
}
